.App {
  height: 100vh;
  width: 100vw;
}

.handleResizeHorizontal {
  width: 0.1rem;
  background-color: #fa7070;
  transition: all 0.2s linear;
}
.handleResizeVertical {
  height: 0.1rem;
  background-color: #fa7070;
  transition: all 0.2s linear;
}
.handleResizeHorizontal:hover {
  width: 0.2rem;
  background-color: #ff0000;
}
.handleResizeVertical:hover {
  height: 0.2rem;
  background-color: #ff0000;
}

.red {
  width: 100%;
  height: 100%;
  background-color: red;
}
.blue {
  width: 100%;
  height: 100%;
  background-color: blue;
}
.green {
  width: 100%;
  height: 100%;
  background-color: green;
}
